In [1]:
# Import all libraries
import pandas as pd
import numpy as np
import yfinance as yf
from datetime import datetime
import scipy.stats as stats
import math
import matplotlib.pyplot as plt
import ipywidgets as widgets
from IPython.display import display
from statsmodels.tsa.stattools import adfuller
import seaborn as sns

from load_data import get_data

In [2]:
tick = ['NVS', 'ABBV'] #, 'AZN', 'BMY', 'JNJ', 'LLY', 'MRK', 'NVO', 'PFE', 'ROG']
start="2022-01-01"
end = "2023-05-01"

In [3]:
stocks = get_data(tick, start, end)
# stocks = stocks.dropna()
stocks

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,ticker,close,close_lag,return,volume,high,low,rolling_var_5,target
Date,,,,,,,,,
2022-01-10,NVS,82.859161,82.150887,0.862163,2753400,90.129997,88.459999,-0.305110,-1.883599
2022-01-11,NVS,82.666000,82.859161,-0.233120,2104100,89.959999,89.290001,-0.127425,-1.555797
2022-01-12,NVS,82.592407,82.666000,-0.089025,2205100,89.849998,89.169998,-0.204301,-1.359644
2022-01-13,NVS,83.355873,82.592407,0.924378,1864600,90.989998,90.120003,-0.204301,-1.183776
2022-01-14,NVS,83.291489,83.355873,-0.077240,1576200,90.860001,90.139999,-0.204301,-1.045437
...,...,...,...,...,...,...,...,...,...
2023-04-24,ABBV,164.080002,162.410004,1.028261,4728900,164.360001,162.330002,-0.723425,-4.336565
2023-04-25,ABBV,164.899994,164.080002,0.499751,5506200,166.199997,164.490005,0.345859,-3.066301
2023-04-26,ABBV,161.800003,164.899994,-1.879922,5192000,163.259995,160.500000,-1.438185,-3.580081
2023-04-27,ABBV,148.869995,161.800003,-7.991352,17063000,153.869995,147.160004,-6.769066,-9.424741
2023-04-28,ABBV,151.119995,148.869995,1.511386,7123800,151.389999,147.440002,-6.769066,-15.353883

In [4]:
stocks.to_csv("C:\\Users\\HP\\Desktop\\Barcelona\\Term3\\Thesis\\dar_data.csv")