In [2]:
import pandas as pd
import numpy as np
from load_data import *
import yfinance as yf

In [7]:
start = "2022-01-10"
end = "2023-04-28"
data_nvs = get_data(['NVS'], start, end)
data_abbv = get_data(['ABBV'], start, end)
data_azn = get_data(['AZN'], start, end)
data_bmy = get_data(['BMY'], start, end)
data_jnj = get_data(['JNJ'], start, end)
data_lly = get_data(['LLY'], start, end)
data_mrk = get_data(['MRK'], start, end)
data_nvo = get_data(['NVO'], start, end)
data_pfe = get_data(['PFE'], start, end)
data_rog = get_data(['ROG'], start, end)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [8]:
data_nvs.head(5)

,ticker,close,close_lag,return,volume,high,low,rolling_var_5,target
Date,,,,,,,,,
2022-01-18,NVS,82.362442,83.291489,-1.115416,2318300,89.839996,89.010002,-0.938959,-1.828237
2022-01-19,NVS,81.727760,82.362442,-0.770596,2044200,89.320000,88.650002,-1.046452,-2.641561
2022-01-20,NVS,81.120667,81.727760,-0.742824,2066000,89.150002,88.139999,-1.046452,-3.462090
2022-01-21,NVS,80.053650,81.120667,-1.315345,2781600,88.029999,86.910004,-1.275359,-4.518732
2022-01-24,NVS,78.305954,80.053650,-2.183156,3887800,85.129997,83.290001,-2.009594,-6.316816

In [9]:
dfs = [data_abbv, data_azn, data_bmy, data_jnj, data_lly, data_mrk, data_nvo, data_pfe, data_rog]

In [10]:
covs = []
for d in dfs:
    covs.append(d['target'])

covs

[Date
 2022-01-18   -3.655271
 2022-01-19   -5.699553
 2022-01-20   -7.654667
 2022-01-21   -7.634319
 2022-01-24   -7.712493
                 ...
 2023-04-21   -4.204795
 2023-04-24   -4.336565
 2023-04-25   -3.066301
 2023-04-26   -3.580081
 2023-04-27   -9.424741
 Name: target, Length: 321, dtype: float64,
 Date
 2022-01-18   -0.371873
 2022-01-19   -1.335989
 2022-01-20   -2.306917
 2022-01-21   -3.425557
 2022-01-24   -6.284836
                 ...
 2023-04-21   -4.557931
 2023-04-24   -3.901360
 2023-04-25   -3.244789
 2023-04-26   -4.417002
 2023-04-27   -5.525381
 Name: target, Length: 321, dtype: float64,
 Date
 2022-01-18   -3.067622
 2022-01-19   -4.525571
 2022-01-20   -3.921134
 2022-01-21   -4.320768
 2022-01-24   -4.994158
                 ...
 2023-04-21   -2.418511
 2023-04-24   -2.592321
 2023-04-25   -2.621110
 2023-04-26   -4.717771
 2023-04-27   -6.840508
 Name: target, Length: 321, dtype: float64,
 Date
 2022-01-18    -5.209877
 2022-01-19    -4.950229
 2022-01-20    -4.657772
 2022-01-21    -4.363549
 2022-01-24    -4.413721
                 ...
 2023-04-21    -9.420443
 2023-04-24   -11.576554
 2023-04-25    -9.597240
 2023-04-26    -8.663146
 2023-04-27    -7.729052
 Name: target, Length: 321, dtype: float64,
 Date
 2022-01-18    -8.751056
 2022-01-19   -12.042402
 2022-01-20   -12.165432
 2022-01-21   -11.665372
 2022-01-24   -10.256005
                 ...
 2023-04-21    -3.377309
 2023-04-24    -3.227412
 2023-04-25    -2.938351
 2023-04-26    -4.166728
 2023-04-27    -5.395106
 Name: target, Length: 321, dtype: float64,
 Date
 2022-01-18   -4.111988
 2022-01-19   -3.783863
 2022-01-20   -3.540497
 2022-01-21   -3.613813
 2022-01-24   -4.146126
                 ...
 2023-04-21   -2.128847
 2023-04-24   -2.392976
 2023-04-25   -2.618794
 2023-04-26   -4.200277
 2023-04-27   -5.689957
 Name: target, Length: 321, dtype: float64,
 Date
 2022-01-18    -8.017222
 2022-01-19   -10.296922
 2022-01-20   -12.721371
 2022-01-21   -14.581994
 2022-01-24   -13.164387
                 ...
 2023-04-21    -7.813079
 2023-04-24   -10.145321
 2023-04-25   -12.146153
 2023-04-26   -11.712162
 2023-04-27   -11.278171
 Name: target, Length: 321, dtype: float64,
 Date
 2022-01-18    -4.695499
 2022-01-19    -7.368884
 2022-01-20    -9.215126
 2022-01-21    -9.615277
 2022-01-24   -10.150961
                 ...
 2023-04-21    -6.576231
 2023-04-24    -7.054904
 2023-04-25    -6.986451
 2023-04-26    -7.324162
 2023-04-27    -7.620930
 Name: target, Length: 321, dtype: float64,
 Date
 2022-01-18   -0.726409
 2022-01-19   -0.789438
 2022-01-20   -0.735030
 2022-01-21   -0.701682
 2022-01-24   -0.671816
                 ...
 2023-04-21   -3.116739
 2023-04-24   -2.893903
 2023-04-25   -3.054954
 2023-04-26   -4.060696
 2023-04-27   -5.066437
 Name: target, Length: 321, dtype: float64]

In [11]:
gc = granger_causality(data_nvs['target'], covs)
gc

TypeError: cannot concatenate object of type '<class 'list'>'; only Series and DataFrame objs are valid